$color-black: #000;

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
}

* {
    box-sizing: border-box;
}

@define-extend %title_form {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    font-weight: 100;
    color: #666;
}

.form {
    margin: 0 auto;
    padding: 25px 0;
    width: 980px;
}

.form__head {
    margin-bottom: 34px;

    &-status {
        position: relative;
        margin: 10px 10px 0 0;
        padding: 0 8px;
        height: 44px;
        width: 100%;
        vertical-align: middle;
        background: #EAEAEA;
        &-text {
            padding: 4px;
            font-size: 14px;
            vertical-align: middle;
            transition: all 0.35s ease-in;
            &:hover {
                background: #F6F9D6;
            }
        }
        &-field {
            padding: 0 6px;
            height: 26px;
            width: 100%;
            color: #444;
            font-weight: 700;
            letter-spacing: 0.03em;
            border: 1px solid #C6C7A9;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) inset;
            vertical-align: middle;
        }
        &:before {
            content: '';
            position: absolute;
            top: -6px;
            left: 10px;
            width: 12px;
            height: 12px;
            transform: rotate(45deg);
            background: #EAEAEA;
        }
        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        @each $postfix in (text, field) {
            &-$(postfix).is-show {
                display: inline-block;
            }
            &-$(postfix).is-hide {
                display: none;
            }
        }
    }

    &-user {
        display: inline-block;
        &-link {
            display: inline-block;
            margin: 10px 0 0 8px;
            float: right;
            font-size: 12px;
            text-decoration: none;
            border-bottom: 1px dashed;
            color: #0c77bb;
        }
        &-name {
            @extend %title_form;
            color: $color-black;
            margin-left: 6px;
        }
    }

    &-validate {
        padding: 6px 10px 0;
        color: #F17300;
    }

    &-title {
        @extend %title_form;
    }
}

.form__body {

    &-group {
        margin-bottom: 40px;
        &--separator {
            padding-top: 32px;
            border-top: 1px solid #e5e4e4;
        }
    }

    &-title {
        display: inline-block;
        width: 200px;
        font-size: 21px;
        color: $color-black;
        vertical-align: middle;
    }

    &-field {
        display: inline-block;
        width: 330px;
        height: 30px;
        padding: 0 10px;
        border: 1px solid #999;
    }

    &-button {
        display: inline-block;
        margin-left: 200px;
        height: 40px;
        padding: 0 18px;
        font-size: 18px;
        text-shadow: 0 -1px 0 #539d22;
        color: #fff;
        border: none;
        background: #71c838;
        border-bottom: 2px solid #55a023;
        &:hover {
            background: #7EDA41;
            border-bottom: 2px solid #6BBD33;
            cursor: pointer;
        }
    }

    &-info {
        display: inline-block;
        padding-left: 20px;
        width: 330px;
        vertical-align: middle;
        font-size: 12px;
        color: #999;
    }

    &-check {
        display: none;
    }

    &-check:checked + &-label:after {
        display: inline-block;
    }

    &-label {
        position: relative;
        font-size: 16px;
        color: $color-black;
        cursor: pointer;
        &:before {
            content: '';
            display: inline-block;
            margin-right: 6px;
            width: 10px;
            height: 10px;
            vertical-align: middle;
            border: 1px solid #7e7e7e;
        }
        &:after {
            display: none;
            content: '\2713';
            position: absolute;
            top: 0;
            left: 1px;
            font-size: 15px;
            color: #0b7fba;
        }
    }
}

@keyframes swing {
    15%
    {
        transform: translateX(5px);
    }
    30%
    {
        transform: translateX(-5px);
    }
    50%
    {
        transform: translateX(3px);
    }
    65%
    {
        transform: translateX(-3px);
    }
    80%
    {
        transform: translateX(2px);
    }
    100%
    {
        transform: translateX(0);
    }
}

.animate {
        animation: swing 1s ease;
        animation-iteration-count: 1;
}